<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')"></header>
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'functions', subpage='admin')"></aside>

	<section>
		<div class="content-wrapper">
			<h3 th:text="#{html.page.functionHierarchy.functions.list.title}"></h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="btn btn-primary btn-lg" href="/ui/admin/functionhierarchy/functions/new">
						<i class="fa fa-plus"></i>
						<span th:text="#{html.page.functionHierarchy.functions.list.add}"></span>
					</a>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table id="listTable" class="table table-striped table-hover listTable">
							<thead>
							<tr>
								<th>sortKey</th>
								<th class="col-md-3" th:text="#{html.page.functionHierarchy.labels.name}"></th>
								<th class="col-sm-3" th:text="#{html.page.functionHierarchy.labels.category}"></th>
								<th class="col-md-5" th:text="#{html.page.functionHierarchy.labels.description}"></th>
								<th class="col-md-1" th:text="#{html.action.label}"></th>
							</tr>
							</thead>

							<tbody>
							<tr th:each="function : ${functions}">
								<td th:text="${function.sortKey}"></td>
								<td th:text="${function.name}"></td>
								<td th:text="${function.category}"></td>
								<td th:text="${function.description}"></td>
								<td>
									<a th:href="'/ui/admin/functionhierarchy/functions/' + ${function.id}"><em class="fa fa-fw fa-pencil" th:title="#{html.mouseover.edit}"></em></a>
									<a onclick="functionService.deleteFunction(this);" href="#" th:attr="data-id=${function.id}"><em class="fa fa-fw fa-remove" th:title="#{html.mouseover.delete}"></em></a>
									<em class="icon-arrow-up" th:attr="data-id=${function.id}" onclick="functionService.changeSortOrder(this, 'up');" th:title="#{html.page.functionHierarchy.functions.sort.up}"></em>
									<em class="icon-arrow-down" th:attr="data-id=${function.id}" onclick="functionService.changeSortOrder(this, 'down');" th:title="#{html.page.functionHierarchy.functions.sort.down}"></em>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<nav th:replace="fragments/footer :: footer"></nav>

<script th:inline="javascript">
	/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");

	/*[+
		var restUrl = [[@{/rest/functionhierarchy/functions/}]];
		var deleteErrorMsg = [[#{html.page.functionHierarchy.functions.delete.error}]];
		var sortErrorMsg = [[#{html.page.functionHierarchy.functions.sort.error}]]
		
		var functionDeleteTitle = [[#{html.page.functionHierarchy.functions.delete.title}]];
		var functionDeleteText = [[#{html.page.functionHierarchy.functions.delete.text}]];
		var functionDeleteButtonConfirm = [[#{html.page.functionHierarchy.delete.confirm}]];
		var functionDeleteButtonCancel = [[#{html.page.functionHierarchy.delete.cancel}]];
		
		var searchTxt = [[#{html.datatables.search}]];
		var dropdownTxt = [[#{html.datatables.dropdown}]];
		var infoDefaultTxt = [[#{html.datatables.info.default}]];
		var infoEmptyTxt = [[#{html.datatables.info.empty}]];
		var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
		var prevTxt = [[#{html.datatables.prev}]];
		var nextTxt = [[#{html.datatables.next}]];
	+]*/
	
	var functionService;
	$(document).ready(function() {
		functionService = new FunctionService();
		functionService.init();
	});
	
	function FunctionService() {

		this.init = function() {
			$('#listTable').DataTable({
				"paging" : false,
				"responsive" : true,
				"columnDefs": [
					{ 
						"targets": 0,
						"orderable": true, 
						"searchable": false,
						"visible": false
					},
					{ 
						"targets": 1,
						"orderable": false, 
						"searchable": true
					},
					{ 
						"targets": 2,
						"orderable": false, 
						"searchable": true
					},
					{ 
						"targets": 3,
						"orderable": false, 
						"searchable": false
					}
				  ],
				"order": [ 0, 'asc' ],
		        'language': {
		            "search":       searchTxt,
		            "lengthMenu":   dropdownTxt,
		            "info":         infoDefaultTxt,
		            "zeroRecords":  infoEmptyTxt,
		            "infoEmpty":    "",
		            "infoFiltered": infoFilteredTxt,
		            "paginate": {
		            	"next": nextTxt,
		            	"previous": prevTxt
		            }
		        }
		    });		
		}
		
		this.deleteFunction = function(obj) {
			var id = $(obj).attr('data-id');
			
			swal({
				html : true,
				title : functionDeleteTitle,
				text : functionDeleteText,
				type : "warning",
				showCancelButton : true,
				confirmButtonColor : "#DD6B55",
				confirmButtonText : functionDeleteButtonConfirm,
				cancelButtonText : functionDeleteButtonCancel,
				closeOnConfirm : true,
				closeOnCancel : true
			},
			function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						url: restUrl + id + "/delete",
						headers: {
							'X-CSRF-TOKEN': token
						},
						type: 'delete',
						success: function( data, textStatus, jQxhr ){
							location.reload(true);
						},
						error: function( jqXhr, textStatus, errorThrown ){
							$.notify({
								message: deleteErrorMsg
							}, {
								status: 'danger',
								autoHideDelay: 4000
							});
						}
					});
				}
			});
		}
		
		this.changeSortOrder = function(obj, action) {
			var id = $(obj).attr('data-id');
			
			$.ajax({
				url: restUrl + id + "/sort?action=" + action,
				headers: {
					'X-CSRF-TOKEN': token
				},
				type: 'post',
				success: function( data, textStatus, jQxhr ){
					location.reload(true);
				},
				error: function( jqXhr, textStatus, errorThrown ){
					$.notify({
						message: sortErrorMsg
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
			});
		}
	}

	/*]]>*/
</script>
</body>
</html>