<th:block th:fragment="workplaceList" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div style="text-align: right; margin-bottom: 20px;">
		<button sec:authorize="hasRole('ROLE_USER_EDIT') OR hasRole('ROLE_USER_PERSON_CREATER')" th:text="#{html.entity.affiliation.workplace.add}" class="btn btn-primary" onclick="openCreateWorkplaceModal()"></button>
	</div>
	<div class="table-responsive">
		<table id="workplaceTable" class="table table-striped table-hover listTable">
			<thead>
			<tr>
				<th th:text="#{html.entity.affiliation.workplace.orgUnit}"></th>
				<th th:text="#{html.entity.affiliation.workplace.startDate}"></th>
				<th th:text="#{html.entity.affiliation.workplace.stopDate}"></th>
				<th sec:authorize="hasRole('ROLE_USER_EDIT') OR hasRole('ROLE_USER_PERSON_CREATER')" th:text="#{html.control.operations}"></th>
			</tr>
			</thead>

			<tbody>
			<tr th:each="workplace : ${workplaces}">
				<td th:text="${workplace.orgUnit.name}"></td>
				<td th:text="${workplace.startDate}"></td>
				<td th:text="${workplace.stopDate}"></td>
				<td sec:authorize="hasRole('ROLE_USER_EDIT') OR hasRole('ROLE_USER_PERSON_CREATER')">
					<a href="#" onclick="handleDelete(this.getAttribute('data-workplace-id'));return false;" th:data-workplace-id="${workplace.id}"><em class="fa fa-fw fa-remove"></em></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</th:block>

<th:block th:fragment="workplaceCreateModal" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<div id="newWorkplaceModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="#{html.entity.affiliation.workplace.add}"></h4>
				</div>

				<div class="modal-body">
					<input id="affiliationUuid" hidden>
					<fieldset>
						<div class="row">
							<label class="col-lg-2 control-label" th:text="#{html.entity.affiliation.workplace.startDate}"></label>
							<div class="col-lg-10">
								<div class="input-group date workplaceDatePicker" id="workplaceStartDatePicker">
									<input id="workplaceStartDate" class="form-control workplaceField"/>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<div class="row">
							<label class="col-lg-2 control-label" th:text="#{html.entity.affiliation.workplace.stopDate}"></label>
							<div class="col-lg-10">
								<div class="input-group date workplaceDatePicker" id="workplaceStopDatePicker">
									<input id="workplaceStopDate" class="form-control workplaceField"/>
									<span class="input-group-addon">
										<span class="fa fa-calendar"></span>
									</span>
								</div>
							</div>
						</div>
					</fieldset>

					<fieldset>
						<div class="row">
							<label class="col-lg-2 control-label" th:text="#{html.entity.affiliation.workplace.orgUnit}"></label>
							<div class="col-lg-8">
								<input class="form-control" id="workplaceOrgUnit-search" style="margin-bottom: 5px;" th:placeholder="#{html.action.search}"/>
								<div id="workplaceOrgUnitPlaceholder"></div>
							</div>
						</div>
					</fieldset>
				</div>

				<div class="modal-footer">
					<div class="col-lg-12">
						<button onclick="addNewWorkplace()" class="btn btn-primary" th:text="#{html.control.button.save}"></button>
						<button class="btn btn-danger" type="button" data-dismiss="modal" th:text="#{html.action.abortChanges}"></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="workplaceListScript" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var workplaceAffiliationUuid = [[${affiliationUuid}]];
			var workplaceOus = [[${workplaceOus}]];
			var workplaceLoadUrl = [[@{/ui/affil/}]];
			var workplaceRestUrl = [[@{/rest/affil/}]];
			var noOUSelectedErrorMessage = [[#{html.entity.affiliation.addWorkplaces.noOUSelected}]];
			var tablePlaceholderId = [[${tablePlaceholderId}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function () {
			$('.workplaceDatePicker').datetimepicker({
				format: 'YYYY-MM-DD'
			});

			initJSTree(workplaceOus);
			console.log($("#" + tablePlaceholderId));

		});

		function initWorkplaceFragment() {
			loadDataTables();
		}

        function handleDelete(id) {
        	var payload = {
        		"affiliationUuid" : workplaceAffiliationUuid,
        		"workplaceId": id
        	}

            $.ajax({
				method: 'POST',
				url: workplaceRestUrl + 'workplace/delete',
				headers: {
					'X-CSRF-TOKEN': token
				},
				contentType: 'application/json',
				data: JSON.stringify(payload),
				success: function(data, textStatus, jQxhr) {
					$("#" + tablePlaceholderId).load(workplaceLoadUrl + uuid + "/workplaces", function() {
						initWorkplaceFragment();
					});
				},
				error: function(jqXhr, textStatus, errorThrown) {
					$.notify({
						message: jqXhr.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
			});
		}

		function openCreateWorkplaceModal() {
			$(".workplaceField").val("");
			$("#affiliationUuid").val(workplaceAffiliationUuid);
			$('#newWorkplaceModal').modal('show');
		}

		function addNewWorkplace() {
			var selectedOU = $("#workplaceOrgUnitPlaceholder").jstree("get_selected");
			if (selectedOU == null || selectedOU.length == 0) {
				$.notify({
					message: noOUSelectedErrorMessage
				}, {
					status: 'danger',
					autoHideDelay: 4000
				});
				return;
			}

			var payload = {
				"affiliationUuid" : workplaceAffiliationUuid,
				"startDate": $("#workplaceStartDate").val(),
				"stopDate": $("#workplaceStopDate").val(),
				"orgUnitUuid": selectedOU[0]
			}

			$.ajax({
				method: 'POST',
				url: workplaceRestUrl + 'workplace/new',
				headers: {
					'X-CSRF-TOKEN': token
				},
				contentType: 'application/json',
				data: JSON.stringify(payload),
				success: function(data, textStatus, jQxhr) {
					$('#newWorkplaceModal').modal('hide');
					$("#" + tablePlaceholderId).load(workplaceLoadUrl + uuid + "/workplaces", function() {
						initWorkplaceFragment();
					});
				},
				error: function(jqXhr, textStatus, errorThrown) {
					$.notify({
						message: jqXhr.responseText
					}, {
						status: 'danger',
						autoHideDelay: 4000
					});
				}
			});

		}

		function initJSTree(data) {
			var workplaceModalTree = $('#workplaceOrgUnitPlaceholder').jstree({
					"core": {
						"data": data,
						"themes": {
							"icons": false
						},
						"multiple": false
					},
					"checkbox" : {
						"keep_selected_style" : false,
						"three_state": false,
						"cascade" : "undetermined"
					},
					"search" : {
						"show_only_matches": true,
						"search_callback": function(str, node) {
							return (node.text.toUpperCase().includes(str.toUpperCase()));
						}
					},
					"plugins" : ["search", "checkbox"]
			});

			// searching in the JSTree
			var to = false;
			$('#workplaceOrgUnit-search').keyup(function() {
				if (to) {
					clearTimeout(to);
				}

				to = setTimeout(function() {
					var v = $('#workplaceOrgUnit-search').val();

					$('#workplaceOrgUnitPlaceholder').jstree(true).search(v);
				}, 400);
			});
		};

		/*]]>*/
	</script>
</th:block>