<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
<div class="wrapper">
    <header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')"></header>
    <aside th:replace="fragments/navbar :: navbar-aside (page = 'classifications', subpage = 'admin')"></aside>

    <section>
        <div class="content-wrapper">
            <h3>
                <a th:href="@{/ui/classifications}" class="btn btn-default">
						<span>
							<i class="fa fa-arrow-left"></i>
						</span>
                </a>
                <span th:text="${classification.name}"></span>
            </h3>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="itemsTable" class="table table-striped table-hover listTable">
                            <thead>
                            <tr>
                                <th class="col-md-4" th:text="#{html.classification.item.identifier}"></th>
                                <th class="col-md-8" th:text="#{html.classification.item.name}"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="item : ${classification.items}">
                                <td th:text="${item.identifier}"></td>
                                <td th:text="${item.name} ?: '(no name)'"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<nav th:replace="fragments/footer :: footer"></nav>
<script th:replace="fragments/datatables :: datatables"></script>
</body>
</html>