<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'report')"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'auditlog', subpage='report')"></aside>

		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.log.audit.title}"></h3>
				<div class="panel panel-default">
					<div class="panel-heading">
						<a class="btn btn-primary btn-lg" href="/ui/auditlogs/download"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;<span th:text="#{html.button.download}"></span></a>
						<div class="form-group form-check inline" style="margin-left: 60px; position: relative; top: 15px;">
							<div class="c-radio">
								<label>
									<input type="radio" name="showSystem" value="false" checked="checked" />
									<span class="fa fa-circle"></span>
									<th:block th:text="#{html.page.admin.task.filter.show.nonsystem}" />
								</label>
							</div>
							<div class="c-radio">
								<label>
									<input type="radio" name="showSystem" value="true" />
									<span class="fa fa-circle"></span>
									<th:block th:text="#{html.page.admin.task.filter.show.system}" />
								</label>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-striped table-hover listTable">
								<thead>
									<tr>
										<th class="col-md-2" th:text="#{html.page.log.timestamp}"></th>
										<th class="col-md-1" th:text="#{html.page.log.auditor}"></th>
										<th class="col-md-2" th:text="#{html.page.log.event}"></th>
										<th class="col-md-2" th:text="#{html.page.log.target}"></th>
										<th class="col-md-4" th:text="#{html.page.log.message}"></th>
										<th class="col-md-1" th:text="#{html.control.operations}"></th>
									</tr>
								</thead>

								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<nav th:replace="fragments/footer :: footer"></nav>
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var searchTxt = [[#{html.datatables.search}]];
			var dropdownTxt = [[#{html.datatables.dropdown}]];
			var infoDefaultTxt = [[#{html.datatables.info.default}]];
			var infoEmptyTxt = [[#{html.datatables.info.empty}]];
			var infoFilteredTxt = [[#{html.datatables.info.filtered}]];
			var prevTxt = [[#{html.datatables.prev}]];
			var nextTxt = [[#{html.datatables.next}]];
			var ajaxUrl = [[@{/rest/auditlog/list}]]
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		
		$(document).ready(function() {
			loadDataTables(false);

			$('input[type=radio][name=showSystem]').change(function() {
				if (this.value == 'true') {
					loadDataTables(true);
				}
				else {
					loadDataTables(false);
				}
			});
		});

		function loadDataTables(showSystem) {							
			var auditLogTable = $('.listTable').DataTable({
				destroy: true,
				'ajax': {
					'contentType': 'application/json',
					'url': ajaxUrl,
					'type': 'POST',
					headers: {
						'X-CSRF-TOKEN': token,
						'show-system': showSystem
					},
					'data': function(d) {
					 	return JSON.stringify(d);
					}
				},
				'serverSide' : true,
				columns : [{
					data : 'timestamp',
					render: function (data, type, row, meta) {
						return moment(new Date(data)).format("YYYY-MM-DD HH:mm")
					}
				}, {
					data : 'userId'
				}, {
					data : 'eventType'
				}, {
					data : 'entityName',
					render: function (data, type, row, meta) {
						if (data == null) {
							return "";
						} else {
							return data + ' (' + row.entityType + ')';
						}
					}
				}, {
					data : 'message'
				},
				{
					data : 'id',
					orderable: false,
					render: function (data, type, row, meta) {
						return '<a href="/ui/auditlogs/' + data + '/details" style="color:black;" title="Se detaljer"><i class="fa fa-search" aria-hidden="true"></i></a>';
					}
				}],
				'paging':    true,
				'ordering':  true,
				'order': [0, 'desc'],
				'stateSave': false,
				'info':      true,
				'pageLength': 50,
				'language': {
					"search":       searchTxt,
					"lengthMenu":   dropdownTxt,
					"info":         infoDefaultTxt,
					"zeroRecords":  infoEmptyTxt,
					"infoEmpty":    "",
					"infoFiltered": infoFilteredTxt,
					"paginate": {
						"next": nextTxt,
						"previous": prevTxt
					}
				}
			});
		}
		
		/*]]>*/
	</script>
</body>
</html>