<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'clients.new', subpage = 'admin')"></aside>

		<section>
			<div class="content-wrapper">
				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<div align="right">
									<button onclick="clientIpAddressService.save()" class="btn btn-primary">
										<em class="fa fa-save"></em>
										&nbsp;
										Gem
									</button>
									<a th:href="@{/ui/client/view/} + ${clientId}" class="btn btn-danger">
										<em class="fa fa-ban"></em>
										&nbsp;
										Annuller
									</a>
								</div>
								<p>
									Nedenfor kan der vedligeholdes en liste af whitelist'ede IP-adresseintervaller til klienten. Dette gøres via <a href="https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing">CIDR/slash notation</a> (eksempel: 192.0.2.0/24).
									Såfremt ingen adresseintervaller opgives, vil alle IP-adresser være tilladt.
								</p>

								<div class="table-responsive">
									<table id="clientIpAddressTable" class="table table-striped table-bordered table-hover listTable" >
										<thead>
										<tr>
											<th>Godkendte IP-adresseintervaller</th>
										</tr>
										</thead>

										<tbody>
										</tbody>

									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

<div th:replace="fragments/footer :: footer"></div>

<script th:replace="fragments/datatables :: datatables (paging=false) "></script>

<style>
	.table .checkbox {
		margin-left: 10px;
		width: auto;
	}
</style>
	<script th:inline="javascript">

		/*<![CDATA[*/

            /*[+
                var successUrl = [[@{/ui/client/view/}]] + [[${clientId}]];
                var restUrl = [[@{/ui/client/clientIpAddresses/save/}]] + [[${clientId}]];
                var clientIpAddresses = [[${clientIpAddresses}]];
            +]*/

            var token = $("meta[name='_csrf']").attr("content");

            var clientIpAddressService;
            $(document).ready(function() {
                clientIpAddressService = new ClientIpAddressService();
                clientIpAddressService.init();
            });


            function ClientIpAddressService() {
                this.init = function() {
                    $('#clientIpAddress').DataTable({
                        "bSort": false,
                        "paging": false,
                        "responsive": true,
                        "dom": "<'row'<'col-sm-12'tr>>",
                        "language": {
                            "info":         "Viser _START_ til _END_ af _TOTAL_ adresseintervaller",
                            "zeroRecords":  "Ingen adresseintervaller...",
                            "infoEmpty":    "Ingen adresseintervaller...",
                            "paginate": {
                                "previous": "Forrige",
                                "next": "Næste"
                            }
                        }
                    });

                    clientIpAddressService.loadClientIpAddresses(clientIpAddresses);
                }

                this.save = function() {
                    list = [];
                    $('#clientIpAddressTable input').each(function(index){
                        val = $(this).val();
                        if (val != '') {
                            list.push($(this).val());
                        }
                    })

                    // Save
                    $.ajax({
                        url: restUrl,
                        method: "POST",
                        headers: {
                            'X-CSRF-TOKEN': token
                        },
                        contentType: 'application/json',
                        data: JSON.stringify(list),
                        success: function(data, textStatus, jQxhr) {
                            window.location.replace(successUrl);

                        },
                        error: function(jQxhr, textStatus, errorThrown) {
							$.notify({
								message: "Kunne ikke gemme:<br />" + jQxhr.responseText + " er ikke korrekt formateret."
							}, {
								status: 'danger',
								autoHideDelay: 4000
							});
                        }
                    });
                }

                this.loadClientIpAddresses = function(attributes) {
                    // Clear table rows here
                    $('#clientIpAddressTable tbody').empty();

                    if (attributes != null) {
                        for (var i = 0; i < attributes.length; i += 1) {
                            // Add rows to table here
                            var row = '<tr><td><input onkeypress="clientIpAddressService.onChangeClientIpAddressTable()" onChange="clientIpAddressService.onChangeClientIpAddressTable()" class="form-control attributeRow" value="' + attributes[i] + '"></td></tr>';
                            $('#clientIpAddressTable > tbody:last-child').append(row);
                        }
                    }

                    // Add additional blank row here
                    $('#clientIpAddressTable > tbody:last-child').append('<tr><td><input onkeypress="clientIpAddressService.onChangeClientIpAddressTable()" onChange="clientIpAddressService.onChangeClientIpAddressTable()" class="form-control" value=""></td></tr>');

                    if (attributes != null) {
                        clientIpAddressService.onChangeClientIpAddressTable();
                    }
                }

                this.onChangeClientIpAddressTable = function() {
                    // Delete any empty rows except the last one
                    var rows = $('#clientIpAddressTable tbody tr');
                    for (let i = 0; i < (rows.length -1); i += 1) {
                        var inputs = $(rows[i]).children().children();
                        var empty = true;

                        if ($(inputs[0]).val().length > 0) {
                            empty = false;
                        }

                        if (empty) {
                            $(rows[i]).remove();
                        }
                    }

                    // Make sure theres an empty last row
                    var lastRow = $('#clientIpAddressTable tbody tr:last');
                    var lastInputs = lastRow.children().children();
                    var lastEmpty = true;

                    if ($(lastInputs[0]).val().length > 0) {
                        lastEmpty = false;
                    }

                    if (!lastEmpty) {
                        $('#clientIpAddressTable > tbody:last-child').append('<tr><td><input onkeypress="clientIpAddressService.onChangeClientIpAddressTable()" onChange="clientIpAddressService.onChangeClientIpAddressTable()" class="form-control" value=""></td></tr>');
                    }
                }
            }

        /*]]>*/
	</script>
</body>
</html>