<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div class="wrapper">
    <header th:replace="fragments/navbar :: navbar-header (subpage = 'admin')"></header>
    <aside th:replace="fragments/navbar :: navbar-aside (page = 'notification.manuals', subpage = 'admin')"></aside>

    <section>
        <div class="content-wrapper">
            <h3 th:text="#{html.setting.notification.manual.header}"></h3>
            <div class="panel panel-default">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="listTable" class="table table-striped table-hover listTable">
                            <thead>
                            <tr>
                                <th class="col-md-2" th:text="#{html.setting.notification.manual.titel}"></th>
                                <th class="col-md-3" th:text="#{html.setting.notification.manual.detail}"></th>
                                <th class="col-md-2" th:text="#{html.setting.notification.manual.frequency}"></th>
                                <th class="col-md-2" th:text="#{html.setting.notification.manual.nextDate}"></th>
                                <th class="col-md-2" th:text="#{html.setting.notification.manual.firstDate}"></th>
                                <th class="col-md-1" th:text="#{html.control.operations}"></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="manual : ${manuals}">
                                <td th:text="${manual.title}"></td>
                                <td th:text="${manual.detail}"></td>
                                <td th:text="${manual.frequency}"></td>
                                <td th:text="${manual.active ? manual.nextDate : 'Ikke Aktiv'}"></td>
                                <td th:text="${manual.firstDate}"></td>
                                <td>
                                    <a th:unless="${manual.active}" href="#" th:title="#{html.setting.notification.manual.activate}"><em class="fa fa-fw fa-toggle-off"></em></a>
                                    <a th:if="${manual.active}" href="#" th:title="#{html.setting.notification.manual.deactivate}"><em class="fa fa-fw fa-toggle-on"></em></a>
                                    <a href="#" th:title="#{html.setting.notification.manual.edit}"><em class="fa fa-fw fa-pencil"></em></a>
                                    <a href="#" onclick="deleteManual(this);" th:data-id="${manual.id}" th:title="#{html.setting.notification.manual.delete}"><em class="fa fa-fw fa-remove"></em></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<nav th:replace="fragments/footer :: footer"></nav>

<script th:replace="fragments/datatables :: datatables "></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    var stars = '********';

    /*[+
    var deleteURL = [[@{/ui/client/delete}]];
    var getClientsUrl = [[@{/ui/client/getClientList}]];

    var deleteTitle = [[#{html.client.delete.title}]];
    var deleteText = [[#{html.client.delete.text}]];
    var deleteButtonConfirm = [[#{html.button.delete}]];
    var deleteButtonCancel = [[#{html.button.cancel}]];
    +]*/

    function deleteManual(element) {
        swal({
            html : true,
            title : deleteTitle,
            text : deleteText,
            type : "warning",
            showCancelButton : true,
            confirmButtonColor : "#DD6B55",
            confirmButtonText : deleteButtonConfirm,
            cancelButtonText : deleteButtonCancel,
            closeOnConfirm : true,
            closeOnCancel : true
        },
            function(isConfirm) {
                if (isConfirm) {
                    window.location = deleteURL + '/' + element.dataset.id;
                }
            });
    }

    function togglePassword(clientId) {
        if ($("#pwd-" + clientId).text() == stars) {
            $("#pwd-" + clientId).text($("#pwd-" + clientId).data("key"));
        }
        else {
            $("#pwd-" + clientId).text(stars);
        }
    }

    /*]]>*/
</script>
</body>
</html>