<th:block th:fragment="contactInfoTab" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<button class="btn btn-lg btn-primary" th:text="#{html.action.saveChanges}" onclick="saveContactInfo()"></button>
	<button class="btn btn-lg btn-primary" th:text="#{html.action.abortChanges}" onclick="loadViewContactInfoTab()"></button>
	<hr/>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.contactAddress}"></label>
		<div class="col-sm-10">
			<textarea id="contactAddress" th:text="${contactAddress}" class="md-textarea form-control" rows="7"></textarea>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.openingHours}"></label>
		<div class="col-sm-10">
			<textarea id="openinghours" th:text="${openingHours}" class="md-textarea form-control" rows="7"></textarea>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.openingHoursPhone}"></label>
		<div class="col-sm-10">
			<textarea id="openinghoursphone" th:text="${openingHoursPhone}" class="md-textarea form-control" rows="7"></textarea>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.keyWords}"></label>
		<div class="col-sm-10">
			<textarea id="keywords" th:text="${keyWords}" class="md-textarea form-control" rows="7"></textarea>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.notes}"></label>
		<div class="col-sm-10">
			<textarea id="notes" th:text="${notes}" class="md-textarea form-control" rows="7"></textarea>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.email}"></label>
		<div class="col-sm-10">
			<input id="email" th:value="${email}" class="form-control"></input>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.emailNotes}"></label>
		<div class="col-sm-10">
			<textarea id="emailNotes" th:text="${emailNotes}" class="md-textarea form-control" rows="7"></textarea>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.location}"></label>
		<div class="col-sm-10">
			<input id="location" th:value="${location}" class="form-control"></input>
		</div>
	</div>

	<div class="row">
		<label class="col-sm-2 control-label" th:text="#{html.entity.orgunit.urlAddress}"></label>
		<div class="col-sm-10">
			<input id="urlAddress" th:value="${urlAddress}" class="form-control"></input>
		</div>
	</div>
</th:block>