<html lang="da-DK">
<head>
    <meta content="IE=edge" http-equiv="x-ua-compatible"></meta>
    <meta charset="utf-8"></meta>
    <meta content="yes" name="apple-mobile-web-app-capable"></meta>
    <meta content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" name="viewport"></meta>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
    <title th:text="${subject}"></title>
</head>
<body>
<div>
    <p th:utext="${message}"></p>
</div>
</body>
</html>
