<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'index')"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="${status} + ' ' + ${error}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">

						<div class="well well-lg">
							<div th:if="${trace} == null" th:text="${exception} + ': ' + ${message}"></div>
							<pre th:if="${trace} != null" th:text="${trace}"></pre>
						</div>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<nav th:replace="fragments/footer :: footer"></nav>
</body>
</html>
