<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'index')"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3>
					<span th:text="#{html.default.message.errorsaml}"></span>
				</h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="well well-lg">
							<div class="row">
								<div class="col-md-12">
									<p th:if="${cause == 'EXPIRED'}" th:text="#{html.default.message.saml.expired}"></p>
									<p th:if="${cause == 'SKEW'}" th:text="#{html.default.message.saml.skew}"></p>
									<p th:if="${cause == 'RESPONDER'}" th:text="#{html.default.message.saml.responder}"></p>
									<p th:if="${cause == 'UNKNOWN'}" th:text="#{html.default.message.saml.unknown}"></p>
								</div>
							</div>

							<th:block th:if="${exception != null}">
								<h4 th:text="#{html.default.message.stacktrace}"></h4>
								<pre th:text="${exception}"></pre>
							</th:block>
						</div>
					</div>
				</div>
	        </div>
	    </section>
	</div>
	
	<nav th:replace="fragments/footer :: footer"></nav>
</body>
</html>
