<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (title=#{html.page.index.title})"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'index')"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.page.version.header}"></h3>
				<div class="panel panel-default">
					<div class="panel-body">
						<p th:if="${@sofdConfiguration.checkVersion()}">
								I anvender allerede den nyeste udgave af SOFD Core.
						</p>
						<p th:unless="${@sofdConfiguration.checkVersion()}">
								I anvender version <b th:text="${@sofdConfiguration.version}"></b> af SOFD Core, og den nyeste udgave af SOFD Core er <b th:text="${@sofdConfiguration.latestVersion}"></b>.
								I kan med fordel få opdateret til den nyeste udgave, ved at kontakte <a href="mailto:kontakt@digital-identity.dk">Digital Identity</a> og bede dem opdatere jer til nyeste udgave.
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	
	<nav th:replace="fragments/footer :: footer"></nav>
</body>
</html>