<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<body>
	<div class="wrapper">
		<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')"></header>
		<aside th:replace="fragments/navbar :: navbar-aside (page = 'orgunits', subpage = 'phonebook')"></aside>
 
		<section>
			<div class="content-wrapper">
				<h3 th:text="#{html.entity.person.create.affiliation}"></h3>

				<div class="panel panel-default">
					<div class="panel-heading"></div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form class="form-horizontal" id="affiliation-form" th:action="@{/ui/orgunit/affiliation}" method="post" th:object="${affiliationDTO}">
									<input name="personUUID" type="hidden" th:value="${personUUID}" />
									<input id="orgUnitUuid" type="hidden" th:field="*{orgUnitUuid}"/>
									<input id="realInheritPrivilegesFromOU" type="hidden" th:field="*{inheritPrivilegesFromOU}" />

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.type}"></label>
										<div class="col-sm-8" style="padding-left: 35px;">
											<div class="c-radio">
												<label>
													<input th:field="*{affiliationType}" type="radio" value="EMPLOYEE" onchange="setAffiliationType(false);"/>
													<span class="fa fa-circle"></span>
													<th:block th:text="#{html.page.person.new.employee}"/>
												</label>
											</div>
				
											<div class="c-radio">
												<label>
													<input th:field="*{affiliationType}" type="radio" value="EXTERNAL" onchange="setAffiliationType(true);"/>
													<span class="fa fa-circle"></span>
													<th:block th:text="#{html.page.person.new.external}"/>
												</label>
											</div>
										</div>
									</div>

									<hr/>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.affiliation.orgunit}"></label>
										<div class="col-sm-8">
											<input id="ouName" th:field="*{orgUnitName}" class="form-control" readonly="readonly"/>
											<ul th:if="${#fields.hasErrors('orgUnitUuid')}" class="error">
												<li th:each="err : ${#fields.errors('orgUnitUuid')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>

									<div class="form-group">
										<label class="col-sm-2 control-label" th:text="#{html.page.person.new.affiliation.positionName}"></label>
										<div class="col-sm-8">
											<input class="form-control" th:field="*{positionName}"/>
											<ul th:if="${#fields.hasErrors('positionName')}" class="error">
												<li th:each="err : ${#fields.errors('positionName')}" th:text="${err}"></li>
											</ul>
										</div>
									</div>

									<div sec:authorize="hasRole('ROLE_MODULE_ACCOUNT_CREATION')" id="inheritDiv" class="form-group" th:style="${affiliationDTO.inheritPrivilegesFromOU} == true ? '' : 'display: none;'">
										<label class="col-sm-2 control-label">
											<a tabindex="0" class="hintPopovers" data-toggle="popover" data-trigger="focus" data-placement="right" th:attr="data-content=#{html.page.person.new.hint.inherit},title=#{html.page.person.new.inherit}" style="text-decoration: none;">
												<em style="color: black;" class="fa fa-fw fa-question"></em>
											</a>
											<span th:text="#{html.page.person.new.inherit}"></span>
										</label>

										<div class="col-sm-8">
											<div class="checkbox c-checkbox">
												<label>
													<input type="checkbox" th:checked="*{inheritPrivilegesFromOU}" onchange="inheritChange(this)"/>
													<span class="fa fa-check"></span>
												</label>
											</div>
										</div>
									</div>

									<hr/>
									
									<div class="form-group">
										<div class="col-sm-offset-2 col-sm-10">
											<button type="submit" style="margin-right: 5px;" class="btn btn-lg btn-primary col-xs-2"  th:text="#{html.control.button.save}"></button>
											<a th:href="@{'/ui/orgunit/view/' + ${orgUnit.uuid} + '/addemployee'}" style="margin-right: 5px;" class="btn btn-lg btn-danger col-xs-2" th:text="#{html.control.button.cancel}"></a>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
	
	<style>
		.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; width: 500px !important; }
		.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
		.autocomplete-selected { background: #F0F0F0; }
		.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
		.autocomplete-group { padding: 2px 5px; }
		.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
		
		.popover {
			width: 250px;
		}
	</style>

	<script th:inline="javascript">
	/*<![CDATA[*/
	
		/*[+
			var ouRestUrl = [[@{/rest/orgunit}]];
			var ouUuid = [[${orgUnit.uuid}]]
			var ouName = [[${orgUnit.name}]]
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		var autoCompleteService;
		
		$("document").ready(function() {
			autoCompleteService = new AutoCompleteService();
			autoCompleteService.init();
			
			$("#orgUnitUuid").val(ouUuid);
			$("#ouName").val(ouName);
		});
		
		function AutoCompleteService() {
			this.init = function() {
				var searchField = $("#positionName");
				searchField.val("");
				searchField.autocomplete({
					serviceUrl: ouRestUrl + "/" + ouUuid + "/getPositionNames/autocomplete",
					onSelect: function(suggestion) {
						$(this).val(suggestion.value);
					},
					preventBadQueries: true,
					triggerSelectOnValidInput: false
				});
			}
		}

		String.prototype.replaceAll = function(search, replacement) {
			var target = this;
			return target.replace(new RegExp(search, 'g'), replacement);
		};

		function setAffiliationType(s) {
			if (s) {
				$("#inheritDiv").show();
			}
			else {
				$("#inheritDiv").hide();
			}
		}

		function inheritChange(s) {
			if (s.checked) {
				$('#realInheritPrivilegesFromOU').val(true);
			} else {
				$('#realInheritPrivilegesFromOU').val(false);
			}
		}

		/*]]>*/
	</script>
</body>
</html>
