<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body>
<div class="wrapper">
	<header th:replace="fragments/navbar :: navbar-header (subpage = 'phonebook')"></header>
	<aside th:replace="fragments/navbar :: navbar-aside (page = 'contactPlaces', subpage='phonebook')"></aside>

	<section>
		<div class="content-wrapper">
			<h3 th:text="#{html.page.contactplace.list.title}"></h3>
			<div class="panel panel-default">
				<div class="panel-heading">
					<a class="btn btn-primary btn-lg" href="#" onclick="newContactPlace()">
						<i class="fa fa-plus"></i> &nbsp; 
						<span th:text="#{html.page.contactplace.list.create}"></span>
					</a>
				</div>

				<div class="panel-body">
					<div class="table-responsive">
						<table id="listTable" class="table table-striped table-hover listTable">
							<thead>
							<tr>
								<th class="col-md-3" th:text="#{html.entity.contactplace.contactplace}"/>
								<th class="col-md-4" th:text="#{html.entity.contactplace.tasks}"/>
								<th class="col-md-4" th:text="#{html.entity.contactplace.users}"/>
								<th class="col-md-1" th:text="#{html.control.operations}"/>
							</tr>
							</thead>

							<tbody>
							<tr th:each="contactPlace : ${contactPlaces}">
								<td th:text="${contactPlace.name}"/>
								<td>
									<em style="padding-left:20px;" class="fa fa-fw fa-warning text-warning" th:if="${#lists.isEmpty(contactPlace.tasks)}" th:title="#{html.page.contactplace.list.emptyKLE}"></em>
									<ul style="padding-left: 20px; margin-bottom: 0px;">
										<li style=" margin-right: 10px;" th:each="kle : ${contactPlace.tasks}" th:text="${kle.name} + ' (' + ${kle.code} + ')'"></li>
									</ul>
								</td>
								<td>
									<ul style="padding-left: 20px; margin-bottom: 0px;">
										<li style=" margin-right: 10px;" th:each="orgUnit : ${contactPlace.users}" th:text="${orgUnit}"></li>
									</ul>
								</td>

								<td>
									<a th:href="@{/ui/contactplaces/edit/} + ${contactPlace.id}"><em class="fa fa-fw fa-pencil" th:title="#{html.mouseover.edit}"></em></a>
									<a onclick="deleteContactPlace(this);" href="#" th:attr="data-id=${contactPlace.id}"><em class="fa fa-fw fa-remove" th:title="#{html.mouseover.delete}"></em></a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- Modal -->
<div id="functionTypeModal" class="modal fade" role="dialog">
	<form class="form-horizontal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title" th:text="#{html.page.contactplace.list.modal.title}"></h4>
				</div>

				<div class="modal-body">
					<label class="control-label" th:text="#{html.action.search}" style="margin-top: 10px;"></label>
					<input class="form-control" id='orgUnitTreeSearchField' autofocus="autofocus" style="margin-bottom: 40px;" />

					<div id="ouWrapper">
						<div th:id="orgUnitTreeHierarchy"></div>
					</div>
					
					<label class="control-label" th:text="#{html.page.contactplace.list.modal.selected.orgunit}" style="margin-top: 10px;"></label>
					<input class="form-control" readonly="readonly" id="orgUnitTreeSelectedOU" />
				</div>

				<div class="modal-footer">
					<div class="col-sm-12">
						<button class="btn btn-primary" type="button" th:text="#{html.control.button.save}" onclick="submitContactPlace()"></button>
						<button class="btn btn-danger" type="button" data-dismiss="modal" th:text="#{html.action.abortChanges}"></button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- End Modal -->

<nav th:replace="fragments/footer :: footer"></nav>

<script th:replace="fragments/datatables :: datatables"></script>

<script th:inline="javascript">
	/*<![CDATA[*/
	var token = $("meta[name='_csrf']").attr("content");

	/*[+
		var contactPlacesUrl = [[@{/ui/contactplaces}]];
	
		var ouRestURL = [[@{/rest/orgunit}]];
		var orgUnits;
		var selectedOrgUnit;
		
		var contactPlaceDeleteTitle = [[#{html.page.contactplace.delete.title}]];
		var contactPlaceDeleteText = [[#{html.page.contactplace.delete.text}]];
		var contactPlaceDeleteButtonConfirm = [[#{html.button.delete}]];
		var contactPlaceDeleteButtonCancel = [[#{html.button.cancel}]];
		var error = [[${error}]];
	+]*/
	

	$(document).ready(function() {
		fetchOrgUnits();
		
		$("#orgUnitTreeHierarchy").on("select_node.jstree", function(e, data) {
			$("#orgUnitTreeSelectedOU").val(data.node.text);
			selectedOrgUnit = data.node.id;
		});

		if (typeof error != "undefined" && error != null) {
			$.notify({
				message: error
			},{
				status: 'warning',
				autoHideDelay: 4000
			});
		}
	});

	function submitContactPlace() {
		if (selectedOrgUnit != null) {
			window.location.href = contactPlacesUrl + '/create/' + selectedOrgUnit;
		}
	}

    function fetchOrgUnits() {
        // Use default org
		orgId = 0;

        // Get OrgUnits by Id
        $.ajax({
            contentType: 'application/json',
            url: ouRestURL + '/get-by-org/' + orgId,
            method : "GET",
            headers: {
                'X-CSRF-TOKEN': token
            },
            error: function(response) {
                $.notify({
                    message: msgParentOrganisationFetchFailed
                }, {
                    status: 'danger',
                    autoHideDelay: 4000
                });
            },
            success: function(response) {
                initOrgUnitTree(response);
                orgUnits=response
                $("#orgUnitTreeSelectedOU").val("");
                selectedOrgUnit = null;
            }
        });
    }

    function initOrgUnitTree(orgUnits) {
        $('#orgUnitTreeHierarchy').jstree('destroy');

        var config = {
            "core": {
                "data": orgUnits,
                "themes": {
                    "icons": false
                }
            },
            "search" : {
                "show_only_matches": true,
                "search_callback": function(str, node) {
                	var manager = node.original.manager;
                	var managerSearchMatch = manager != null && manager.toUpperCase().includes(str.toUpperCase());
                	
                    return (node.text.toUpperCase().includes(str.toUpperCase()) || node.id.toUpperCase().startsWith(str.toUpperCase()) || managerSearchMatch);
                }
            },
            "plugins" : [
                "wholerow", "search"
            ]
        };

        // Init OrgUnitTree
		$('#orgUnitTreeHierarchy').jstree(config);

        // searching in the JSTree
        var to = false;
        $('#orgUnitTreeSearchField').keyup(function() {
            if (to) {
                clearTimeout(to);
            }

            to = setTimeout(function() {
                var v = $('#orgUnitTreeSearchField').val();

                $('#orgUnitTreeHierarchy').jstree(true).search(v);
            }, 400);
        });
        
        $('#orgUnitTreeHierarchy').on('close_node.jstree', function(e, data) {
        	if (data.node.parent == '#') {
        		$('#orgUnitTreeHierarchy').jstree("close_all");
        	}
        });
    }

	function newContactPlace() {
		$('#functionTypeModal').modal("show");
	}

	function deleteContactPlace(obj) {
		var id = $(obj).attr('data-id');
		
		swal({
			html : true,
			title : contactPlaceDeleteTitle,
			text : contactPlaceDeleteText,
			type : "warning",
			showCancelButton : true,
			confirmButtonColor : "#DD6B55",
			confirmButtonText : contactPlaceDeleteButtonConfirm,
			cancelButtonText : contactPlaceDeleteButtonCancel,
			closeOnConfirm : true,
			closeOnCancel : true
		},
		function(isConfirm) {
			if (isConfirm) {
				$.ajax({
					url: contactPlacesUrl + '/delete/' + id,
					headers: {
						'X-CSRF-TOKEN': token
					},
					type: 'delete',
					success: function( data, textStatus, jQxhr ){
						location.reload(true);
					},
					error: function( jqXhr, textStatus, errorThrown ){
						$.notify({
							message: deleteErrorMsg
						}, {
							status: 'danger',
							autoHideDelay: 4000
						});
					}
				});
			}
		});
	}

	/*]]>*/
</script>
</body>
</html>